@model LaboratoryQualityControl.Domain.User
<div class="row">
    <div class="col-2">
        <label asp-for="UserName" class="control-label"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="col-2">
        <label asp-for="PassWord" class="control-label"></label>
        <input asp-for="PassWord" type="password" class="form-control" />
        <span asp-validation-for="PassWord" class="text-danger"></span>
    </div>
    <div class="col-2">
        <label asp-for="RoleCode" class="control-label"></label>
        <select asp-for="RoleCode" class="form-control" asp-items="ViewBag.RoleCode"></select>
    </div>
    <div class="col-2">
        <label asp-for="FName" class="control-label"></label>
        <input asp-for="FName" class="form-control" />
        <span asp-validation-for="FName" class="text-danger"></span>
    </div>
    <div class="col-2">
        <label asp-for="LName" class="control-label"></label>
        <input asp-for="LName" class="form-control" />
        <span asp-validation-for="LName" class="text-danger"></span>
    </div>
    <div class="col-2">
        <label asp-for="NickName" class="control-label"></label>
        <input asp-for="NickName" class="form-control" />
        <span asp-validation-for="NickName" class="text-danger"></span>
    </div>
</div>
<div class="row">
    <div class="col-2">
        <div class="checkbox">
            <label>
                <input asp-for="Sex" /> @Html.DisplayNameFor(model => model.Sex)
            </label>
        </div>
    </div>
    <div class="col-2">
        <label asp-for="BirthDate" class="control-label"></label>
        <input asp-for="BirthDate" class="form-control" />
        <span asp-validation-for="BirthDate" class="text-danger"></span>
    </div>
    <div class="col-2">
        <label asp-for="ExpireTime" class="control-label"></label>
        <input asp-for="ExpireTime" class="form-control" />
        <span asp-validation-for="ExpireTime" class="text-danger"></span>
    </div>
    <div class="col-2">
        <label asp-for="Picture" class="control-label"></label>
        <input asp-for="Picture" class="form-control" />
        <span asp-validation-for="Picture" class="text-danger"></span>
    </div>
    <div class="col-2">
        <label asp-for="EnterNum" class="control-label"></label>
        <input asp-for="EnterNum" class="form-control" />
        <span asp-validation-for="EnterNum" class="text-danger"></span>
    </div>
    <div class="col-2">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
</div>
<div class="row">
    <div class="col-2">
        <label asp-for="MaritalStatusID" class="control-label"></label>
        <select asp-for="MaritalStatusID" class="form-control" asp-items="ViewBag.MaritalStatusID"></select>
    </div>
    <div class="col-2">
        <label asp-for="NumberID" class="control-label"></label>
        <input asp-for="NumberID" class="form-control" />
        <span asp-validation-for="NumberID" class="text-danger"></span>
    </div>
    <div class="col-2">
        <label asp-for="Issued" class="control-label"></label>
        <input asp-for="Issued" class="form-control" />
        <span asp-validation-for="Issued" class="text-danger"></span>
    </div>
    <div class="col-2">
        <label asp-for="FatherName" class="control-label"></label>
        <input asp-for="FatherName" class="form-control" />
        <span asp-validation-for="FatherName" class="text-danger"></span>
    </div>
    <div class="col-2">
        <label asp-for="EducationalCertificateID" class="control-label"></label>
        <select asp-for="EducationalCertificateID" class="form-control" asp-items="ViewBag.EducationalCertificateID"></select>
    </div>
    <div class="col-2">
        <label asp-for="UniversityName" class="control-label"></label>
        <input asp-for="UniversityName" class="form-control" />
        <span asp-validation-for="UniversityName" class="text-danger"></span>
    </div>
</div>
<div class="row">
    <div class="col-2">
        <label asp-for="YearGet" class="control-label"></label>
        <input asp-for="YearGet" class="form-control" />
        <span asp-validation-for="YearGet" class="text-danger"></span>
    </div>
    <div class="col-8">
        <label asp-for="Address" class="control-label"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="col-2">
        <label asp-for="Telephone" class="control-label"></label>
        <input asp-for="Telephone" class="form-control" />
        <span asp-validation-for="Telephone" class="text-danger"></span>
    </div>
</div>
<div class="row">
    <div class="col-2">
        <label asp-for="TelephoneNecessary" class="control-label"></label>
        <input asp-for="TelephoneNecessary" class="form-control" />
        <span asp-validation-for="TelephoneNecessary" class="text-danger"></span>
    </div>
    <div class="col-2">
        <label asp-for="BloodTypeID" class="control-label"></label>
        <select asp-for="BloodTypeID" class="form-control" asp-items="ViewBag.BloodTypeID"></select>
    </div>
    <div class="col-2">
        <div class="checkbox">
            <label>
                <input asp-for="DrugSensitivity" /> @Html.DisplayNameFor(model => model.DrugSensitivity)
            </label>
        </div>
    </div>
    <div class="col-2">
        <label asp-for="BeginTime" class="control-label"></label>
        <input asp-for="BeginTime" class="form-control" />
        <span asp-validation-for="BeginTime" class="text-danger"></span>
    </div>
    <div class="col-2">
        <label asp-for="SectionCodeLab" class="control-label"></label>
        <select asp-for="SectionCodeLab" class="form-control" asp-items="ViewBag.SectionCodeLab"></select>
    </div>
    <div class="col-2">
        <label asp-for="EmploymentStatusID" class="control-label"></label>
        <select asp-for="EmploymentStatusID" class="form-control" asp-items="ViewBag.EmploymentStatusID"></select>
    </div>
</div>
<div class="row">
    <div class="col-2">
        <div class="checkbox">
            <label>
                <input asp-for="HistoryVaccination" /> @Html.DisplayNameFor(model => model.HistoryVaccination)
            </label>
        </div>
    </div>
    <div class="col-2">
        <div class="checkbox">
            <label>
                <input asp-for="HistoryOfOccupationalInjury" /> @Html.DisplayNameFor(model => model.HistoryOfOccupationalInjury)
            </label>
        </div>
    </div>
    @*<div class="col-2">
        <label asp-for="UserCodeSuccessor" class="control-label"></label>
        <select asp-for="UserCodeSuccessor" class="form-control" asp-items="ViewBag.UserCodeSuccessor"></select>
    </div>*@
    <div class="col-8">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
</div>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
