@model LaboratoryQualityControl.Domain.Device

@{
    ViewData["Title"] = "تعریف شناسنامه تجهیزات";
}

<h2>@ViewData["Title"]</h2>

@*<h4>Device</h4>*@
<hr />
<div class="row">
   <div class="col-md-12">
       <form asp-action="Create">
           <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
           @Html.Partial("_PartialCreateEdit",Model)
           <hr />
           @*btn btn-default*@
           <div class="col-md-12">
               <input type="submit" value="ثبت" class="fas fa-bell" />
               @*<i class="fa fa-send-o"></i>*@
           </div>
       </form>
    </div>
</div>

<div>
    <a asp-action="Index">برگشت به لیست</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
