@model LaboratoryQualityControl.Models.LogBookDevice
<div class="row">
    <div class="col-3">
        <label asp-for="DeviceCode" class="control-label"></label>
        <select asp-for="DeviceCode" class="form-control" asp-items="ViewBag.DeviceCode"></select>
    </div>
    <div class="col">
        <label asp-for="UserCode" class="control-label"></label>
        <select asp-for="UserCode" class="form-control" asp-items="ViewBag.UserCode"></select>
    </div>
    <div class="col">
        <label asp-for="DoTime" class="control-label"></label>
        <input asp-for="DoTime" class="form-control" />
        <span asp-validation-for="DoTime" class="text-danger"></span>
    </div>
    <div class="col">
        <label asp-for="StartTime" class="control-label"></label>
        <input asp-for="StartTime" class="form-control" />
        <span asp-validation-for="StartTime" class="text-danger"></span>
    </div>
</div>
<div class="row">
    <div class="col">
        <label asp-for="EndTime" class="control-label"></label>
        <input asp-for="EndTime" class="form-control" />
        <span asp-validation-for="EndTime" class="text-danger"></span>
    </div>
    <div class="col">
        <label asp-for="DeviceStatusID" class="control-label"></label>
        @*<input asp-for="DeviceStatusID" class="form-control" />
            <span asp-validation-for="DeviceStatusID" class="text-danger"></span>*@
        <select asp-for="DeviceStatusID" class="form-control" asp-items="ViewBag.DeviceStatusID"></select>
    </div>
    <div class="col-6">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
</div>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
