@model LaboratoryQualityControl.Models.LogBookDevice

@{
    ViewData["Title"] = "LogBook تجهیزات";
}

<h2>جدید</h2>

<h4> @ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.Partial("_PartialCreateEdit",Model)
            <hr />
            <div class="form-group">
                <input type="submit" value="ثبت" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">برگشت تو لیست</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
