@model LaboratoryQualityControl.Models.LogBookDevice

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>LogBookDevice</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdLogBook" />
            <div class="form-group">
                <label asp-for="DeviceCode" class="control-label"></label>
                <select asp-for="DeviceCode" class="form-control" asp-items="ViewBag.DeviceCode"></select>
                <span asp-validation-for="DeviceCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserCode" class="control-label"></label>
                <select asp-for="UserCode" class="form-control" asp-items="ViewBag.UserCode"></select>
                <span asp-validation-for="UserCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoTime" class="control-label"></label>
                <input asp-for="DoTime" class="form-control" />
                <span asp-validation-for="DoTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeviceStatus" class="control-label"></label>
                <input asp-for="DeviceStatus" class="form-control" />
                <span asp-validation-for="DeviceStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecordTime" class="control-label"></label>
                <input asp-for="RecordTime" class="form-control" />
                <span asp-validation-for="RecordTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
