@model LaboratoryQualityControl.Models.DeviceMaintenance

@{
    ViewData["Title"] = "حذف نگهداری تجهیزات";
}

<h2>@ViewData["Title"]</h2>

<h3>آیا مطمئن هستید که می خواهید این را حذف کنید؟</h3>
<div>
    <h4>@Html.DisplayFor(model => model.Device.DeviceName)</h4>
    <hr />
    @*<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ControlledFactor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ControlledFactor)
        </dd>
    </dl>*@
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DeviceMaintenanceID" />
        <input type="submit" value="حذف" class="btn btn-default" /> |
        <a asp-action="Index">برگشت تو لیست</a>
    </form>
</div>
