@model LaboratoryQualityControl.Models.Device
<div class="row">
    <div class="col">
        <label asp-for="DeviceName" class="control-label"></label>
        <input asp-for="DeviceName" class="form-control" />
        <span asp-validation-for="DeviceType" class="text-danger"></span>
    </div>
    <div class="col">
        <label asp-for="DeviceTypeID" class="control-label"></label>
        <select asp-for="DeviceTypeID" class="form-control" asp-items="ViewBag.DeviceTypeName"></select>
    </div>
    <div class="col">
        <label asp-for="Factory" class="control-label"></label>
        <input asp-for="Factory" class="form-control" />
        <span asp-validation-for="Factory" class="text-danger"></span>
    </div>
    <div class="col">
        <label asp-for="Model" class="control-label"></label>
        <input asp-for="Model" class="form-control" />
        <span asp-validation-for="Model" class="text-danger"></span>
    </div>
</div>
<div class="row">
    <div class="col">
        <label asp-for="ManufacturingCountry" class="control-label"></label>
        <input asp-for="ManufacturingCountry" class="form-control" />
        <span asp-validation-for="ManufacturingCountry" class="text-danger"></span>
    </div>
    <div class="col">
        <label asp-for="SerialNumber" class="control-label"></label>
        <input asp-for="SerialNumber" class="form-control" />
        <span asp-validation-for="SerialNumber" class="text-danger"></span>
    </div>
    <div class="col">
        <label asp-for="SupportCompany" class="control-label"></label>
        <input asp-for="SupportCompany" class="form-control" />
        <span asp-validation-for="SupportCompany" class="text-danger"></span>
    </div>
    <div class="col">
        <label asp-for="Location" class="control-label"></label>
        <input asp-for="Location" class="form-control" />
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>
</div>
<div class="row">
    <div class="col">
        <label asp-for="FeaturedUsers" class="control-label"></label>
        <input asp-for="FeaturedUsers" class="form-control" />
        <span asp-validation-for="FeaturedUsers" class="text-danger"></span>
    </div>
    <div class="col">
        <label asp-for="IdentificationCode" class="control-label"></label>
        <input asp-for="IdentificationCode" class="form-control" />
        <span asp-validation-for="IdentificationCode" class="text-danger"></span>
    </div>
    <div class="col">
        <label asp-for="DateSubmittedToLab" class="control-label"></label>
        <input asp-for="DateSubmittedToLab" class="form-control" />
        <span asp-validation-for="DateSubmittedToLab" class="text-danger"></span>
    </div>
    <div class="col">
        <label asp-for="SectionLaunchDATE" class="control-label"></label>
        <input asp-for="SectionLaunchDATE" class="form-control" />
        <span asp-validation-for="SectionLaunchDATE" class="text-danger"></span>
    </div>
</div>
<div class="row">
    <div class="col">
        <label asp-for="DeliveryStatus" class="control-label"></label>
        <input asp-for="DeliveryStatus" class="form-control" />
        <span asp-validation-for="DeliveryStatus" class="text-danger"></span>
    </div>
    <div class="col">
        <label asp-for="SpecialCharacteristic" class="control-label"></label>
        <input asp-for="SpecialCharacteristic" class="form-control" />
        <span asp-validation-for="SpecialCharacteristic" class="text-danger"></span>
    </div>
    <div class="col">
        <label asp-for="RelatedEquipment" class="control-label"></label>
        <input asp-for="RelatedEquipment" class="form-control" />
        <span asp-validation-for="RelatedEquipment" class="text-danger"></span>
    </div>
    <div class="col">
        <label asp-for="PhoneToSupportCompany" class="control-label"></label>
        <input asp-for="PhoneToSupportCompany" class="form-control" />
        <span asp-validation-for="PhoneToSupportCompany" class="text-danger"></span>
    </div>

</div>
<div class="row">
    <div class="col">
        <label asp-for="SectionCodeLab" class="control-label"></label>
        <select asp-for="SectionCodeLab" class="form-control" asp-items="ViewBag.SectionNameLab"></select>
    </div>
    <div class="col">
        <label asp-for="UserCode" class="control-label"></label>
        <select asp-for="UserCode" class="form-control" asp-items="ViewBag.Users"></select>
    </div>
    <div class="col-6">
        <label asp-for="Other" class="control-label"></label>
        <input asp-for="Other" class="form-control" />
        <span asp-validation-for="Other" class="text-danger"></span>
    </div>

    @*<div class="col">
            <script src="calendar.js" type="text/javascript"></script>
            <script src="jquery.Bootstrap-PersianDateTimePicker.js" type="text/javascript"></script>
            <script type="text/javascript">
                $('#RecordTimePicker').MdPersianDateTimePicker({
                    Placement: 'bottom', // default is 'bottom'
                    Trigger: 'focus', // default is 'focus',
                    EnableTimePicker: true, // default is true,
                    TargetSelector: '', // default is empty,
                    GroupId: '', // default is empty,
                    ToDate: false, // default is false,
                    FromDate: false, // default is false,
                });
            </script>
            <label asp-for="RecordTime" class="control-label"></label>
            <input name="RecordTimePicker" asp-for="RecordTime" class="form-control" />
            <span asp-validation-for="RecordTime" class="text-danger"></span>
        </div>*@
</div>
@*

    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
